/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}
